/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.mb-0 {
    margin-bottom: 0;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.d-block {
    display: block;
}