/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.mb-0 {
    margin-bottom: 0;
}

.m-0 {
    margin: 0;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.d-block {
    display: block;
}

.switches [type='checkbox'] {
    position: absolute;
    left: -9999px;
}

.switches {
    width: 95%;
    margin: 0;
}

ol.switches {
    list-style: none;
}

.switches li {
    position: relative;
    counter-increment: switchCounter;
}

.switches label {
    display: flex;
    align-items: center;
    max-width: 500px;
}

/*CUSTOM VARIABLES HERE*/
:root {
    --pmr_clr: #3858e9;
}

.switches span.toggle_btn {
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    transition: all 0.3s;
    margin-right: 10px;
}

.switches span.toggle_btn + span {
    font-size: 1rem;
}

.switches span.toggle_btn::before,
.switches span.toggle_btn::after {
    content: '';
    position: absolute;
}

.switches span.toggle_btn::before {
    left: 2px;
    top: 2px;
    width: 16px;
    height: 16px;
    background: #3858e9;
    background: var(--pmr_clr);
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.3s;
}

.switches [type='checkbox']:checked + label span.toggle_btn {
    background: #3858e9;
    background: var(--pmr_clr);
}

.switches [type='checkbox']:checked + label span.toggle_btn::before {
    transform: translateX(20px);
    background: white;
}

#alpha_sms input[type='submit'] {
    background: #3858e9;
    background: var(--pmr_clr);
    border-color: var(--pmr_clr);
}

.notify_template {
    margin-left: 50px;
}

.notify_template textarea {
    font-size: 0.875rem;
}

#order_status_admin,
#order_status_buyer {
    overflow: hidden;
    opacity: 0;
    user-select: none;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

#alpha_sms-order_status_buyer:checked ~ #order_status_buyer, #alpha_sms-order_status_admin:checked ~ #order_status_admin {
    opacity: 1;
    user-select: auto;
    max-height: 250px;
}

.sms_tokens span {
    color: #3858e9;
    color: var(--pmr_clr);
}

.toggle_container {
    display: flex;
    font-size: 1rem;
}

.toggle_visible {
    cursor: pointer;
}

span.dashicons {
    font-size: 23px;
    line-height: 1.3;
}

.text-danger {
    color: #b94a48;
}

.woo-error {
    background: #fff;
    border-left: 4px solid var(--pmr_clr);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    margin: 15px 0;
    padding: 1px 12px;
}

.woo-error + .switches {
    filter: grayscale(1);
    pointer-events: none;
    user-select: none;
}